body {
    background-color: rgb(242, 247, 245);
}

.container-fluid img {
    margin-right: 30px;
    margin-left: 40px;
}
.d-flex {
    border:1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 110px;
    height: 30px;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 35px;
}

/*CONTACT*/
.Form-contact{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 93vh;
    margin: 60px;
   
}

.form-contact label{
    font-size: 20px;
    font-weight: 500px;
    
}

.form-contact form input,
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    border-radius:8px; 
}

.form-contact textarea {
    height: 100px;
    resize: none;
}

.form-contact form button {
    padding: 5px 8px;
    color: white;
    background-color: black;
    border-radius: 25px;
    float: right;
    cursor: pointer;
}
